// app global css in SCSS form
// app global css in SCSS form
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  // background: url("/images/authbg.png") no-repeat center center/cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #1f1b5e;
}

.q-page {
  overflow-x: hidden;
}
.swiper-cards .swiper-slide {
  overflow: visible !important;
}

img {
  width: 100%;
  object-fit: contain;
}

.nav_items::before,
.sign,
.btnn {
  box-shadow: none;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.small_container {
  margin: 0 auto;
  width: 75%;
  max-width: 1440px;
}

.welcome .q-toggle__label {
  color: #fff;
  font-size: 12px;
  display: none;
}

.delp .q-card__section--vert {
  padding: 0 !important;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

svg {
  display: block;
  width: 100%;
}

.register::before {
  box-shadow: none;
}
.nav__links .q-tab__indicator {
  width: 56.1px;
  margin: 0 auto;
  height: 2px;
}

.nav__links .q-tab {
  padding: 0 30px;
}

.nav__links .q-tab__label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.swiper-3d .swiper-slide-shadow {
  // background: rgba(0,0,0,.15);
  background: none !important;
}

.nav_btns .q-btn {
  font-size: 12px;
  padding: 4px 1px;
}
.nav_btns .q-btn::before,
.bio {
  box-shadow: none;
}
.nav .q-toolbar {
  padding: 0 !important;
}

.reg .q-checkbox__label {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #898a8d;
}
.reg .q-radio__label {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #898a8d;
}

.dialog_wid {
  width: 65% !important;
}
.q-dialog__inner--fullwidth > div {
  width: 65% !important;
  max-width: 100% !important;
}

@media (max-width: 1025px) {
  .about {
    font-size: 45px !important;
  }

  .line {
    height: 5px;
    background: white;
    width: 60%;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 16px !important;
  }
}
@media (max-width: 830px) {
  .nav__links .q-tab {
    padding: 0 10px;
  }
  .q-dialog__inner--fullwidth > div {
    width: 100% !important;
    max-width: 100% !important;
  }
  .small_container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .nav .q-toolbar {
    padding: 0;
  }

  .heading {
    padding: 4rem 0 0rem !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 550px) {
  .flexer {
    display: flex !important;
    flex-direction: column-reverse;
  }
}
@media (max-width: 320px) {
  .about {
    font-size: 30px !important;
  }

  p {
    font-size: 14px !important;
  }
}
